._red{
  color: red;
}
._red_i
{
  color: red;
  font-style:italic;
}
._green_i
{
  color: green;
  font-style: italic;
}
._blue
{
  color: darkblue;
}
._blue_i{
  color: blue;
  font-style: italic;
}
._round_orange{
  list-style-image: url(../images/пример2_03.gif);
}
._check_yellow
{
  list-style-image: url(../images/пример2_07.gif);
}
._round_red{
  list-style-image: url(../images/пример2_10.gif);
}
._check_blue
{
  list-style-image: url(../images/пример2_12.gif);
}
._cross
{
  list-style-image: url(../images/пример2_15.gif);
}
