._red{
  color: red;
}
._red_i
{
  color: red;
  font-style:italic;
}
._green_i
{
  color: green;
  font-style: italic;
}
._blue
{
  color: darkblue;
}
._blue_i{
  color: blue;
  font-style: italic;
}
._round{
  list-style-image: url(../images/пример2_03.gif);
}
._check
{
  list-style-image: url(../images/пример2_07.gif);
}
